{{#if closeButton}}
  {{nucleus-button
    type=closeButtonType
    size="mini"
    customClass=(concat "nucleus-modal__close " position)
    icon="cross"
    onClick=(action onClose)}}
{{/if}}
{{#if hasBlock}}
  {{yield}}
{{else}}
  <h4 class="nucleus-modal__title">{{title}}</h4>
{{/if}}
