// Word break solution
.wordbreak-fix {
  word-break: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.wordbreak-all {
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
