.nucleus-toast-messages {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999;
  height: 0;
}

.nucleus-toast-message {
  background: #fff;
  border-radius: $radius;
  border-top: 4px solid $border-color;
  padding: 1rem;
  box-shadow: 0 2px 18px 0 rgba(18, 52, 77, .2);
  width: 400px;
  margin-bottom: 1rem;
  display: flex;
  position: relative;

  &__icon {
    margin-right: 1rem;
    line-height: 1.3;
  }

  &__content {
    font-size: $font-size-12;
    font-weight: $font-weight-600;
    padding-right: 1rem;
    flex-grow: 2;
  }

  &.alert-success {
    border-top-color: $text-success;

    .nucleus-toast-message__icon {
      color: $text-success;
    }
  }

  &.alert-danger {
    border-top-color: $text-danger;

    .nucleus-toast-message__icon {
      color: $text-danger;
    }
  }

  &.alert-info {
    border-top-color: $text-info;

    .nucleus-toast-message__icon {
      color: $text-info;
    }
  }

  &.alert-warning {
    border-top-color: $text-warning;

    .nucleus-toast-message__icon {
      color: $text-warning;
    }
  }
}
