.btn {
  font-size: 14px;
  padding: 5px 15px 6px;
  border: none;
  border-radius: 4px;
  outline: 0;
  color: #fff;
  transition: all .1s linear;
  letter-spacing: .3px;
  font-weight: 500;

  &:focus {
    border: 1px solid #2e6ed8;
    box-shadow: 0 0 0 1px #2e6ed8;
    outline: none;
  }
}

.btn--primary {
  background-color: #264966;
  border: 1px solid #12344d;
  background-image: linear-gradient(to bottom, #264966, #12344d);

  &:active {
    border: 1px solid #264966;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, .26);
  }

  &:focus {
    background-color: #174262;
    border: 1px solid #174262;
  }

  &:hover:not([disabled]) {
    background-color: #12344d;
    background-image: none;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    color: #f3f5f7;
    border: 1px solid #8899a6;
    background-image: linear-gradient(to bottom, #92a4b2, #8899a6);
  }
}

.btn--secondary {
  background-color: #f3f5f7;
  color: #183247;
  border: 1px solid #dadfe3;
  background-image: linear-gradient(to bottom, #fff, #f3f5f7);

  &:hover {
    background-color: #f3f5f7;
    background-image: none;
  }

  &:active {
    box-shadow: none;
  }

  &:focus {
    background-color: #f3f5f7;
    transform: scale(.98);
  }

  &.disabled,
  &[disabled] {
    pointer-events: none;
    cursor: default;
    color: #647a8e;
    border: 1px solid #ebeff3;
    background-image: none;
    background-color: #f3f5f7;
  }
}

.btn--danger {
  color: #fff;
  background-color: #d72d30;
  border: 1px solid #d72d30;
  background-image: linear-gradient(to bottom, #d72d30, #c82124);

  &:active {
    background-color: #d72d30;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.26);
  }

  &:focus {
    background-color: #174262;
    border: 1px solid #264966;
    background-image: linear-gradient(to bottom, #c82124, #d72d30);
  }

  &:hover:not([disabled]) {
    background-color: #c82124;
    background-image: none;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    color: #f3f5f7;
    border: 1px solid #e39091;
    background-image: linear-gradient(to bottom, #eb9697, #e39091);
  }
}

.btn--link {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  color: #2c5cc5;

  &:hover,
  &:focus {
    background-color: #f3f5f7;
    border: 1px solid #2c5cc5;
  }
}

.btn--block {
  width: 100%;
  display: block;
}
