//=== Button Style ===//
$btn-primary-color: white !default;
$btn-primary-bg: $color-elephant-800 !default;
$btn-primary-bg-dark: $color-elephant-900 !default;
$btn-primary-border: $color-elephant-900 !default;
$btn-primary-border-active: $color-elephant-800 !default;

$btn-secondary-color: $text-default !default;
$btn-secondary-bg: white !default;
$btn-secondary-bg-dark: $color-smoke-25 !default;
$btn-secondary-border: $border-color !default;
$btn-secondary-border-active: $color-smoke-50 !default;

$btn-danger-color: white !default;
$btn-danger-bg: $color-persimmon-800 !default;
$btn-danger-bg-dark: $color-persimmon-900 !default;
$btn-danger-border: $color-persimmon-900 !default;

$btn-link-color: $color-azure-800 !default;
$btn-link-bg: $color-smoke-100 !default;

$active-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, .25);
//=== Button Style===//

.btn {
  font-size: $font-size-14;
  padding: 7px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  color: $btn-primary-color;
  cursor: pointer;
  transition: all .2s linear;
  letter-spacing: .3px;
  font-weight: $font-weight-500;
  min-width: 5em;

  &:focus {
    border: 1px solid $color-azure-800;
    box-shadow: 0 0 0 1px $color-azure-800;
    outline: none;
  }

  &:active {
    box-shadow: $active-box-shadow;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: .4;
  }
}

.btn--primary {
  background-color: $btn-primary-bg;
  color: $btn-primary-color;
  border: 1px solid $btn-primary-border;
  background-image: linear-gradient(to bottom, $btn-primary-bg, $btn-primary-bg-dark);

  &:active {
    border: 1px solid $btn-primary-border-active;
  }

  &:hover:not([disabled]) {
    background-color: $btn-primary-bg-dark;
    background-image: none;
  }
}

.btn--secondary {
  background-color: $btn-secondary-bg-dark;
  color: $btn-secondary-color;
  border: 1px solid $btn-secondary-border;
  background-image: linear-gradient(to bottom, $btn-secondary-bg, $btn-secondary-bg-dark);

  &:active {
    border: 1px solid $btn-secondary-border-active;
  }

  &:hover:not([disabled]) {
    background-color: $btn-secondary-bg-dark;
    background-image: none;
  }
}

.btn--danger {
  color: $btn-danger-color;
  background-color: $btn-danger-bg;
  border: 1px solid $btn-danger-border;
  background-image: linear-gradient(to bottom, $btn-danger-bg, $btn-danger-bg-dark);

  &:hover:not([disabled]) {
    background-color: $btn-danger-bg-dark;
    background-image: none;
  }
}

.btn--link {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  color: $btn-link-color;

  &:hover:not([disabled]) {
    background-color: $btn-link-bg;
    border-color: $btn-link-bg;
  }
}

.btn--block {
  width: 100%;
  display: block;
}

.btn--mini {
  padding: 4px 5px;
  font-size: 12px;
  min-width: 1em;

  svg.icon {
    width: 12px;
    height: 12px;
  }
}
