.flash-messages {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999;
  height: 0;
}

.flash-message-close {
  position: absolute;
  top: 12px;
  right: 12px;
  color: $text-default;
}

.alert {
  background: #fff;
  border-radius: $radius;
  border-top: 4px solid $border-color;
  padding: 1rem;
  box-shadow: 0 2px 18px 0 rgba(18, 52, 77, .2);
  width: 400px;
  margin-bottom: 1rem;
  display: flex;
  position: relative;

  &.alert-success {
    border-top-color: $border-success-color;

    .alert__icon svg.icon {
      fill: $border-success-color;
    }
  }

  &.alert-danger {
    border-top-color: $border-danger-color;

    .alert__icon svg.icon {
      fill: $border-danger-color;
    }
  }

  &.alert-info {
    border-top-color: $border-info-color;

    .alert__icon svg.icon {
      fill: $border-info-color;
    }
  }

  &.alert-warning {
    border-top-color: $border-warning-color;

    .alert__icon svg.icon {
      fill: $border-warning-color;
    }
  }

  &__icon {
    margin-right: 1rem;
    line-height: 1.3;
  }

  &__content {
    font-size: $font-size-12;
    font-weight: $font-weight-600;
    padding-right: 1rem;
  }
}
