<div class="ui-modal-overlay {{unless slideInDone 'ui-modal-overlay--enter'}}">
  <a
    aria-label="Click to close"
    class="ui-modal-overlay--action"
    href="#" {{action onClose}}>
  </a>
  <div class="ui-slider-modal-content {{if startSlideOut 'ui-slider-modal-content--leave'}}">
    {{yield (hash
        close=(component 'ui-slider-modal/close'
          onClose=(action onClose)
        )
        header=(component 'ui-slider-modal/header'
          onClose=(action onClose)
        )
        body=(component 'ui-slider-modal/body'
          onClose=(action onClose)
        )
        footer=(component 'ui-slider-modal/footer'
          onClose=(action onClose)
        )
    )}}
  </div>
</div>
