// Globals
@import "nucleus/variables";

.nucleus-icon {
  width: 12px;
  height: 12px;

  &--mini {
    width: 10px;
    height: 10px;
  }

  &--small {
    width: 12px;
    height: 12px;
  }

  &--medium {
    width: 14px;
    height: 14px;
  }

  &--large {
    width: 16px;
    height: 16px;
  }

  &--primary {
    fill: $text-default;
  }

  &--secondary {
    fill: $text-secondary;
  }

  &--danger {
    fill: $text-danger;
  }

  &--warning {
    fill: $text-warning;
  }

  &--success {
    fill: $text-success;
  }

  &--info {
    fill: $text-info;
  }
}
