:root {
  // --brand-primary: #12344d;
  font-size: 15px;
}

.docs-list-reset .docs-capitalize {
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.docs-no-padding {
  padding: 0 !important; // to prevent blank spaces while rendering logic templates
}
