:root {
  // --brand-primary: #12344d;
  font-size: 15px;
}

.docs-list-reset .docs-capitalize {
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.docs-no-padding {
  padding: 0 !important; // to prevent blank spaces while rendering logic templates
}

.docs-link {
  color: #2c5cc5; // used in demos
}

button,
html [type=button],
[type=reset],
[type=submit] {
  border-radius: 4px; // to prevent tailwind CSS from overriding this value in ember-cli-addon-doc
}
