$text-align: 'left', 'right', 'center', 'justify';
$vertical-align: 'baseline', 'top', 'middle', 'bottom', 'text-top', 'text-bottom';
$break: 'word', 'normal';

@each $align in $text-align {
  .text-#{$align} {
    @include text-align($align);
  }
}

@each $align in $vertical-align {
  .align-#{$align} {
    @include vertical-align($align);
  }
}

@each $type in $break {
  .break-#{$type} {
    @include wordwrap($type);
  }
}
