{{#if isOpen}}
  {{#ember-wormhole to="modal-overlays" renderInPlace=renderInPlace}}
    {{#nucleus-modal/dialog
      id=modalId
      onClose=(action "close")
      onSubmit=(action "submit")
      size=size
      keyboard=isDismissible
    }}
      {{yield
        (hash
          header=(component "nucleus-modal/header"
                  title=title
                  icon=icon
                  description=description
                  closeButton=isDismissible
                  closeButtonType="link"
                  onClose=(action "close"))
          body=(component "nucleus-modal/body")
          footer=(component "nucleus-modal/footer"
                  type=type
                  submitTitle=submitTitle
                  closeTitle=closeTitle
                  onClose=(action "close")
                  onSubmit=(action "submit"))
          close=(action "close")
          submit=(action "submit")
        )
      }}
    {{/nucleus-modal/dialog}}
    {{#transition-group transitionClass="fade"}}
      {{#if _showBackdrop}}
        <div class="nucleus-modal__backdrop" id={{backdropId}}></div>
      {{/if}}
    {{/transition-group}}
  {{/ember-wormhole}}
{{/if}}
