{{#if isInDOM}}
  {{#ember-wormhole to="nucleus-modal-wormhole" renderInPlace=renderInPlace}}
    {{#transition-group transitionClass="fade"}}
      {{#nucleus-modal/dialog
        id=modalId
        onClose=(action "close")
        onSubmit=(action "submit")
        keyboard=keyboard
        size=size
      }}
        {{yield
          (hash
            header=(component "nucleus-modal/header"
                    title=title
                    closeButton=closeButton
                    onClose=(action "close"))
            body=(component "nucleus-modal/body")
            footer=(component "nucleus-modal/footer"
                    type=type
                    submitTitle=submitTitle
                    closeTitle=closeTitle
                    onClose=(action "close")
                    onSubmit=(action "submit"))
            close=(action "close")
            submit=(action "submit")
          )
        }}
      {{/nucleus-modal/dialog}}
      {{#if _showBackdrop}}
        <div class="nucleus-modal__backdrop" id={{backdropId}}></div>
      {{/if}}
    {{/transition-group}}
  {{/ember-wormhole}}
{{/if}}
