{{#ember-wormhole to="modal-overlays"}}
  <div class="flash-messages flash-messages--top-right {{if (gt flashMessages.queue.length 1) "stacked"}}">
    {{#each flashMessages.queue as |flash|}}
      {{#transition-group transitionClass="slide-down"}}
        {{flash-message flash=flash}}
      {{/transition-group}}
    {{/each}}
  </div>
{{/ember-wormhole}}