{{#if isOpen}}
  <div class="nucleus-inline-banner__icon">
    {{svg-jar _icon class="icon" width="14"}}
  </div>
  <div class="nucleus-inline-banner__content">
    <div data-test-id="nucleus-inline-banner-title">{{html-safe title}}</div>
  </div>
  {{#if isDismissible}}
    <div class="nucleus-inline-banner__close">
      {{nucleus-button
        type="link"
        size="mini"
        icon="close"
        onClick=(action "onCloseTip")}}
    </div>
  {{/if}}
{{/if}}
