{{#ember-wormhole to="modal-overlays"}}
  <div class="flash-messages flash-messages--top-right">
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
  </div>
{{/ember-wormhole}}