.nucleus-pagination {
  padding: 12px 8px;
  background: $color-milk;

  ul {
    list-style: none;
    margin: 0 !important; // to prevent other vendor CSS from overriding ul in general
    padding: 0 !important;
    line-height: 1;
  }

  li {
    position: relative;

    &:first-child::after,
    &:last-child::after {
      content: "";
      border-right: 1px solid $color-smoke-100;
      height: 100%;
      position: absolute;
      top: 0;
    }

    &:first-child::after {
      right: 0;
    }

    &:last-child::after {
      left: 0;
    }
  }

  &__number {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;

    &.active {
      border-bottom: 1px solid $color-azure-800;
    }
  }

  &__item {
    display: inline-block;
    margin: 0 !important;
    padding: 0 4px !important;
  }
}