$bdg-linecritical-bg:#fff5f5 !default;
$bdg-linecritical-color:#e51227 !default;

$bdg-linenuetral-bg:#e0e0d1 !default;
$bdg-linenuetral-color:#6a6a48 !default;

$bdg-linenew-bg:#bce4c9 !default;
$bdg-linenew-color:#009930 !default;

$bdg-lineprimary-bg:#cce6ff !default;
$bdg-lineprimary-color:#0084ff !default;

$bdg-solid-color:white !default;

$bdg-solidcritical-bg: #e51227 !default;
$bdg-solidnuetral-bg:#6a6a48 !default;
$bdg-solidnew-bg: #009930 !default;
$bdg-solidprimary-bg: #0084ff !default;

$btn-primary-color: white !default;
$btn-primary-bg: $color-elephant-800 !default;
$btn-primary-bg-dark: $color-elephant-900 !default;
$btn-primary-border: $color-elephant-900 !default;
$btn-primary-border-active: $color-elephant-800 !default;

$btn-secondary-color: $text-default !default;
$btn-secondary-bg: white !default;
$btn-secondary-bg-dark: $color-smoke-25 !default;
$btn-secondary-border: $border-color !default;
$btn-secondary-border-active: $color-smoke-50 !default;

$btn-danger-color: white !default;
$btn-danger-bg: $color-persimmon-800 !default;
$btn-danger-bg-dark: $color-persimmon-900 !default;
$btn-danger-border: $color-persimmon-900 !default;

$btn-link-color: $color-azure-800 !default;
$btn-link-bg: $color-smoke-50 !default;

$active-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, .25);

.nucleus-badge {
  font-size: $font-size-10;
  vertical-align: middle;
  line-height: 1.2;
  padding: 6px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  color: $btn-primary-bg;
  cursor: pointer;
  transition: all .2s linear;
  letter-spacing: .3px;
  font-weight: $font-weight-500;
  height: 24px;
  width: 16px;

  &:focus {
    border: 1px solid $color-azure-800;
    box-shadow: 0 0 0 1px $color-azure-800;
    outline: none;
  }

  &:active {
    box-shadow: $active-box-shadow;
  }

  &--lineCritical {
    color: $bdg-linecritical-color;
    background-image: $bdg-linecritical-bg;
  }

  &--lineNuetral {
    color: $btn-secondary-color;
    background-image: $bdg-linenuetral-bg;
  }

  &--lineNew {
    color: $bdg-linenew-color;
    background-image: $bdg-linenew-bg;
  }

  &--linePrimary {
    color: $btn-link-color;
    background-image: $bdg-lineprimary-bg;
  }

  &--solidCritalic {
    color: $bdg-solid-color;
    background-image: $bdg-solidcritical-bg;
  }

  &--solidNuetral {
    color: $bdg-solid-color;
    background-image: $bdg-solidnuetral-bg;
  }

  &--solidNew {
    color: $bdg-solid-color;
    background-image: $bdg-solidnew-bg;
  }

  &--solidPrimary {
    color: $bdg-solid-color;
    background-image: $bdg-solidprimary-bg;
  }
}
