.nucleus-banner-item {
  &__icon {
    position: relative;
    top: 2px;
    margin-right: 4px;

    &.warning {
      color: $text-warning;
    }

    &.danger {
      color: $text-danger;
    }

    &.info {
      color: $text-info;
    }

    &.success {
      color: $text-success;
    }
  }

  &__link {
    color: $text-info;

    &:hover {
      text-decoration: underline;
    }
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.nucleus-banner--mini {
  display: flex;

  .nucleus-banner-item__close {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
