.nucleus-banner-item {
  &__icon {
    position: relative;
    top: 2px;
    margin-right: 4px;

    &.warning {
      color: $text-warning;
    }

    &.danger {
      color: $text-danger;
    }

    &.info {
      color: $text-info;
    }

    &.success {
      color: $text-success;
    }
  }

  &__link {
    color: $text-info;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nucleus-banner--mini {
  .nucleus-banner-item__icon {
    margin-right: 2px;
    top: 1px;

    svg.icon {
      width: 10px;
      height: 10px;
    }
  }
}
