.nucleus-banner-item {
  &__icon {
    position: relative;
    top: 2px;
    margin-right: 4px;
  }

  &__link {
    color: $text-info;

    &:hover {
      text-decoration: underline;
    }
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__bullet {
    padding-left: 22px;

    li {
      list-style: disc;
    }
  }
}

.nucleus-banner--mini {
  display: flex;

  .nucleus-banner-item__close {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
