<div class="docs-container docs-md">
  <section class="docs-max-w-lg docs-mx-auto docs-text-center docs-pt-16 docs-pb-8">
    <h1>Welcome to Freshdesk Design system</h1>
    <p> This system was established to set best practices, to improve UI consistency and to increase the efficiency of the design & development process.</p>
    <img class="docs-pt-8" src="../../images/home-cover.svg" width="400" alt="Cover">
  </section>
</div>