.fade-enter {
  opacity: 0;

  &.fade-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in-out;
  }
}

.fade-leave {
  opacity: 1;

  &.fade-leave-active {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  }
}

.slide-down-enter {
  opacity: 0;
  transform: translate3d(0, -10%, 0);

  &.slide-down-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 300ms ease-in-out;
  }
}

.slide-down-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);

  &.slide-down-leave-active {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
    transition: all 300ms ease-in-out;
  }
}

.slide-right-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);

  &.slide-right-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 300ms ease-in-out;
  }
}

.slide-right-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);

  &.slide-right-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition: all 300ms ease-in-out;
  }
}
