.text {
  //=== Transforms ===//
  &--uppercase {
    text-transform: uppercase;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }
  //=== Transforms ===//

  //=== Underlines ===//
  &--underline {
    text-decoration: underline;
  }

  &--no-underline {
    text-decoration: none;
  }
  //=== Underlines ===//

  //=== Weights ===//
  &--semibold {
    font-weight: $font-weight-500;
  }

  &--normal {
    font-weight: $font-weight-400;
  }

  &--light {
    font-weight: $font-weight-300;
  }
  //=== Weights ===//

  //=== Colours ===//
  &-danger {
    color: $text-danger;
  }

  &-warning {
    color: $text-warning;
  }

  &-info {
    color: $text-info;
  }

  &-default {
    color: $text-default;
  }

  &-muted {
    color: $text-disabled;
  }

  &-semi-muted {
    color: $text-secondary;
  }
  //=== Colours ===//
}
