//=== Color palette ===//
$color-elephant-900: #12344d;
$color-elephant-800: #264966;
$color-elephant-700: #345c7c;
$color-elephant-600: #447093;

$color-smoke-700: #475867;
$color-smoke-300: #92a2b1;
$color-smoke-100:#cfd7df;
$color-smoke-50:#ebeff3;
$color-smoke-25:#f3f5f7;

$color-jungle-800: #00795b;
$color-jungle-500:#00a886;
$color-jungle-100:#b4e5da;
$color-jungle-50: #e0f5f1;

$color-azure-800: #2c5cc5;
$color-azure-100: #bbdcfe;
$color-azure-50: #e5f2fd;

$color-persimmon-900: #c82124;
$color-persimmon-800: #d72d30;
$color-persimmon-100: #ffd0d6;
$color-persimmon-50: #ffecf0;

$color-casablanca-700: #e86f25;
$color-casablanca-100: #fedcb3;
$color-casablanca-50: #e5f2fd;
//=== Color palette ===//

//=== Text colors ===//
$text-default: $color-elephant-900 !default;
$text-secondary: $color-smoke-700 !default;
$text-disabled: $color-smoke-300 !default;

$text-success: $color-jungle-800 !default;
$text-info: $color-azure-800 !default;
$text-danger: $color-persimmon-800 !default;
$text-warning: $color-casablanca-700 !default;

$text-link: $color-azure-800 !default;
//=== Text colors ===//

//=== Icon colors ===//
$icon-primary: $color-smoke-700 !default;
$icon-primary-hover: $color-smoke-100 !default;
//=== Icon colors ===//

//=== Border colors ===//
$border-color: $color-smoke-100 !default;
$border-success-color: $color-jungle-100 !default;
$border-info-color: $color-azure-100 !default;
$border-danger-color: $color-persimmon-100 !default;
$border-warning-color: $color-casablanca-100 !default;
//=== Border colors ===//

//=== Background colors ===//
$bg-success: $color-jungle-50 !default;
$bg-info: $color-azure-50 !default;
$bg-danger: $color-persimmon-50 !default;
$bg-warning: $color-casablanca-50 !default;
//=== Background colors ===//

//=== Font weights ===//
$font-weight-300: 300 !default;
$font-weight-400: 400 !default;
$font-weight-500: 500 !default;
$font-weight-600: 600 !default;
$font-weight-700: 700 !default;
//=== Font weights ===//

//=== Font sizes ===//
$font-size-12: .75rem !default;
$font-size-14: .875rem !default;
$font-size-16: 1rem !default;
$font-size-18: 1.125rem !default;
$font-size-20: 1.25rem !default;
$font-size-24: 1.5rem !default;
//=== Font sizes ===//
