//=== Font weights ===//
$font-weight-300: 300 !default;
$font-weight-400: 400 !default;
$font-weight-500: 500 !default;
$font-weight-600: 600 !default;
$font-weight-700: 700 !default;
//=== Font weights ===//

//=== Font sizes ===//
$font-size-12: .75em !default;
$font-size-14: .875em !default;
$font-size-16: 1em !default;
$font-size-18: 1.125em !default;
$font-size-20: 1.25em !default;
$font-size-24: 1.5em !default;
//=== Font sizes ===//

//=== Text colors ===//
$text-default: $color-elephant-900 !default;
$text-secondary: $color-smoke-700 !default;
$text-disabled: $color-smoke-300 !default;

$text-success: $color-jungle-800 !default;
$text-info: $color-azure-800 !default;
$text-danger: $color-persimmon-800 !default;
$text-warning: $color-casablanca-700 !default;

$text-link: $color-azure-800 !default;
//=== Text colors ===//

//=== Icon colors ===//
$icon-primary: $color-smoke-700 !default;
$icon-primary-hover: $color-smoke-100 !default;
//=== Icon colors ===//
