.nucleus-toast-messages {
  position: fixed;
  z-index: 9999999999;

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.center {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.nucleus-toast-message {
  background: #fff;
  border-radius: $radius;
  border-top: 4px solid $border-color;
  padding: 12px 16px;
  box-shadow: 0 2px 18px 0 rgba(18, 52, 77, .2);
  width: 400px;
  margin: 16px;
  display: flex;
  align-items: flex-start;
  position: relative;

  &__icon {
    margin-right: 16px;
  }

  &__content {
    font-size: $font-size-14;
    font-weight: $font-weight-600;
    padding-right: 16px;
    flex-grow: 2;

    .link {
      color: $text-info;
    }
  }

  &__close {
    line-height: 1.4;
  }

  &.alert-success {
    border-top-color: $text-success;

    .nucleus-toast-message__icon {
      color: $text-success;
    }
  }

  &.alert-danger {
    border-top-color: $text-danger;

    .nucleus-toast-message__icon {
      color: $text-danger;
    }
  }

  &.alert-info {
    border-top-color: $text-info;

    .nucleus-toast-message__icon {
      color: $text-info;
    }
  }

  &.alert-warning {
    border-top-color: $text-warning;

    .nucleus-toast-message__icon {
      color: $text-warning;
    }
  }

  @media screen and (min-width: $mobile-screen-min-width) and (max-width: $mobile-screen-max-width) {
    width: $mobile-screen-min-width;
  }
}
