{{#docs-demo as |demo|}}
  {{#demo.example name="nucleus-toast.hbs"}}
    <button onclick={{action "foo"}} class="docs-btn">
      Click here to open simple toast
    </button>
  {{/demo.example}}
  {{demo.snippet "nucleus-toast.hbs"}}
{{/docs-demo}}