name: CI

on: 
  pull_request:
    branches:
    - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    
    - name: Set Node.js 10.x
      uses: actions/setup-node@master
      with:
        node-version: 10.x

    - name: Install dependencies
      run: yarn

    - name: Run test suite
      run: yarn test
  verify:
    name: Verify Lint & Legacy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Set Node.js 10.x
        uses: actions/setup-node@master
        with:
          node-version: 10.x

      - name: Install dependencies
        run: yarn

      - name: Template Linter
        run: yarn run lint

      - name: Legacy Checker [2.18]
        run: yarn run try:legacy
